.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.Header {
  font-size: 250%;
  height: 30%;
  width: 100%;
  border-bottom: 10px double black;
}

.ValueSpace {
  height: 675px;
  width: 1670px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 10px;
  background-image: url("./images/fon.jpg");
}

.Location {
  position: absolute;
  right: 1%;
  top: 30%;
  height: 30%;
  width: 50%;
  border-bottom: 2px solid black;
}

.PrivateData {
  position: absolute;
  bottom: 1%;
  height: 35%;
  width: 50%;
  left: 1%;
  text-align: center;
  vertical-align: auto;
  border-right: 2px solid black;
}

.MainInfo {
  position: absolute;
  left: 1%;
  top: 30%;
  width: 50%;
  height: 30%;
  border-bottom: 2px solid black;
  border-right: 2px solid black;
}

.ButtonStyle {
  position: absolute;
  left: 778px;
  top: 50%;
  border-radius: 90px;
  height: 180px;
  width: 180px;
  transform: rotate(0);
  background-image: url("./images/button2.jpg");


}

@-webkit-keyframes sq {
  0% { -webkit-transform: perspective(120px) }

  50% { -webkit-transform: perspective(300px)}

  100% { -webkit-transform: perspective(120px)}
}
@keyframes sq {
  0% {transform: perspective(120px) rotateX(0) rotateY(0);}
  50% {transform: perspective(400px) rotateY(-180deg) rotateZ(360deg);}
  100% {transform: perspective(800px) rotateY(-180deg) rotateZ(-179deg);}
}

@-webkit-keyframes rotatesquare {

0% { -webkit-transform: perspective(120px) }

50% { -webkit-transform: perspective(120px) rotateY(180deg) }

100% { -webkit-transform: perspective(120px) rotateY(180deg)  rotateX(180deg) }
}

@keyframes rotatesquare {

0% { transform: perspective(120px) rotateX(0deg) rotateY(0deg); }

50% { transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg); }

100% { transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg); }

}


.ButtonStyle:active{
  -webkit-animation: sq 0.2s forwards ease-in-out;
  animation: sq 0.8s forwards ease-in-out;
}

:focus {
  outline-width: 0 !important;
}

.PeopleParams {
  position: absolute;
  right: 1%;
  bottom: 1%;
  height: 35%;
  width: 50%;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}
